<div class="row">
	<div class="medium-12">
		<h1>Gspcs</h1>
		<table>
		  <tr>
		    <th>Date</th>
		    <th>Open</th>
		    <th>Close</th>
		    <th>High</th>
		    <th>Low</th>
		  </tr>
		 
		  <% @gspcs.each do |gspc| %>
		    <tr>
		      <td><%= gspc.date %></td>
		      <td><%= gspc.open %></td>
		      <td><%= gspc.close %></td>
		      <td><%= gspc.high %></td>
		      <td><%= gspc.low %></td>
		    </tr>
		  <% end %>
		</table>
		
		<h1>Resources</h1>
		<table>
		  <tr>
		    <th>Link</th>
		    <th>Title</th>
		    <th>Description</th>
		  </tr>
		 
		  <% @resources.each do |resource| %>
		    <tr>
		      <td><%= link_to(resource.link, resource.link, target: '_blank') %></td>
		      <td><%= resource.title %></td>
		      <td><%= resource.description %></td>
		    </tr>
		  <% end %>
		</table>
	</div>
</div>